<div class="jumbotron">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sed excepturi deserunt laborum,
        facilis necessitatibus debitis! Neque eveniet laborum, error atque quos non sint dicta? Non, a! Molestias,
        quisquam praesentium.</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Click here</a>
    </p>
</div>